.media{
    display: flex;
    flex-direction: column;
    width:180px;
    padding: 4px;
    margin:3px 1px;
    background-color: rgb(70, 67, 67);
    border-radius: 10px;
    position: relative;
    font-family:"Playfair" ;
    /* justify-content: center;
    align-items: center; */
}

.media:hover{
    background-color: rgb(255, 208, 208);
    color: rgb(0, 0, 0);
}

@media (max-width:500px){
    .media{
        width:45%;
    }
}

.poster{
    border-radius: 16px;
    
}

.title{
    width: 100%;
    text-align:center;
    font-size: medium;
    padding:3px 0px;
}

.sunTitle{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    padding-bottom: 3px;
    /* color: blanchedalmond; */

}