.header{
    width:100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    /* background-color: rgb(95, 94, 93); */
    background-color: rgb(50 75 82);
    padding: 10px;
    font-family: "Playfair";
    font-size: 3vw;
    z-index:100;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 5px black;
    background-image: linear-gradient(to right, rgb(52 8 8) , #463d93);
}

@media (max-width:800px){
    .header{
        padding-top:15px;
        font-size: 6.5vw;
    }
}