*{
    margin: 0px;
    scroll-behavior: smooth;
}
.app{
min-height: 100vh;
background-color: rgb(109, 4, 4);
color:white;
padding-top:70px;
padding-bottom: 50px;
}


.pageTitle{
    display: flex;
    justify-content: center;
    font-family: "Playfair";
    font-size: 2vw;
    padding-top: 15px;
    color: burlywood;
}

@media(max-width:800px){
    .app{
        padding-top:85px;
    }
    .pageTitle{
        font-size: 3vw;
    }
}